{% extends "expense_app/base.html" %}
{% block body_main %}
    {% include "partials/_sidebar_main.html" %}
  <div class="main-content" id="panel">
    {% include "partials/_navbar_main.html" %}
    <div class="header pb-6 d-flex " style="min-height: 300px; background-size: cover; background-position: center top;">
      <span class="mask bg-gradient-default opacity-8"></span>
      <div class="container-fluid d-flex mt-5">
        <div class="row">
          <div class="col">
            <h1 class="display-2 text-white">Hello {{request.user.username}}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt--9">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 order-xl-1">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Edit profile </h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form>
                <h6 class="heading-small text-muted mb-4">User information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">First name</label>
                        <input type="text" id="input-first-name" class="form-control" placeholder="First name" >
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-last-name">Last name</label>
                        <input type="text" id="input-last-name" class="form-control" placeholder="Last name" >
                      </div>
                    </div>
                  </div>
                  <div class="text-center"><a href="#!" class="btn btn-sm btn-primary">Save Profile</a></div>
                </div>
              </form>
              <form>
                <hr class="my-4" />
                <h6 class="heading-small text-muted mb-4">Change Password</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-address">New Password</label>
                        <input id="input-address" class="form-control" type="text">
                      </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                          <label class="form-control-label" for="input-address">Re-Enter New Password</label>
                          <input id="input-address" class="form-control" type="text">
                        </div>
                      </div>
                  </div>
                </div>
                <div class="text-center"><a href="#!" class="btn btn-sm btn-primary">Change Password</a></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}