{% extends "base.html" %}
{% load static %}
{% block title_main %}{% if create %}Add Income Source{% elif update %}Edit Income Source{% elif upload %}Import Income{% endif %}{% endblock %}
{% block body_main %}
    {% include "partials/_sidebar_main.html" %}
  <div class="main-content bg-primary" id="panel">
    {% include "partials/_navbar_main.html" %}
    <div class="header bg-primary pb-6">
      <div class="mr-5 ml-5"><div class="mr-5 ml-5">{% include "partials/_messages.html" %}</div></div>
      <div class="container-fluid"><div class="header-body"><div class="row align-items-center py-4"><div class="col-lg-6 col-7"><nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4"><ol class="breadcrumb breadcrumb-links breadcrumb-dark"><li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i class="fas fa-home"></i></a></li><li class="breadcrumb-item"><a href="{% url 'income' %}">Income</a></li><li class="breadcrumb-item active" aria-current="page">{% if create %}Add Source{% elif update %}Edit Source{% elif upload %}Import{% endif %}</li></ol></nav></div></div></div></div>
    </div>
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col mr-5 ml-5">
          <div class="card">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">  
                <div class="col">
                  {% if create %}
                    <h5 class="h3 mb-0 text-center">Add Income Sources</h5>
                    <form action="{% url 'add_income_source' %}" method="POST">
                      {% csrf_token %}
                      <div class="form-group"><label for="">Source</label><input class="form-control form-control-sm" type = "text" name="source" value = "{{ values.source }}" ></div>
                      <div class="text-center"><button type="submit" class="btn btn-primary">Save Source</button></div>
                    </form>
                  {% elif update %}
                    <h5 class="h3 mb-0 text-center">Edit Income Source</h5>
                    <form action="{% url 'edit_income_source' id %}" method="POST">
                      {% csrf_token %}
                      <div class="form-group"><label for="">Source</label><input class="form-control form-control-sm" type = "text" name="source" value = "{{ value }}" ></div>
                      <div class="text-center"><button type="submit" class="btn btn-primary">Update Source</button></div>
                    </form>
                    {% elif upload %}
                      <h5 class="h3 mb-0 text-center">Import Incomes From CSV</h5>
                      <p class="text-black mt-2">Please Note: The columns should be Date of Income in the Format of DD-MM-YY, Source, Description, Amount. You Can Download an example csv <a href="{% static 'csv/income_example.csv' %}">here</a>.</p>
                      <form action="{% url 'income_import_from_csv' %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
                        {% csrf_token %}
                        <div class="row"><div class="col-md-9">  <input type="file" class="form-control" name="income_csv_file" id="income_csv_file" required="True" accept=".csv" class="form-control"></div><div class="col-md-3">  <button class="btn btn-default">Upload CSV</button></div></div>
                      </form>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if upload %}
      <div class="row">
        <div class="col mr-5 ml-5">
          <div class="card">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">  
                <div class="col">
                    <h5 class="h3 mb-0 text-center">Import Income From excel</h5>
                    <p class="text-black mt-2">Please Note: The columns should be Date of Income in the Format of DD-MM-YY, Source, Description, Amount. You Can Download a example excel <a href="{% static 'xlsx/income_example.xlsx' %}">here</a>.</p>
                    <form action="{% url 'income_import_from_excel' %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
                      {% csrf_token %}
                      <div class="row"><div class="col-md-9"><input type="file" class="form-control" name="income_excel_file" id="income_excel_file" required="True" accept=".xls,.xlsx" class="form-control"></div><div class="col-md-3"><button class="btn btn-default">Upload Excel</button></div></div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    {% if create %}
      <div class="container-fluid mt-5">
        <div class="row">
          <div class="col mr-5 ml-5">
            <div class="card">
              <div class="card-header bg-transparent">
                <div class="row align-items-center">  
                  <div class="col">
                    <h5 class="h3 mb-3 text-center">Income Sources List</h5>
                    <h6 class="h3 mb-3 text-center text-danger">Please Note: Deleting Source will also delete the incomes which are linked with these sources</h6>
                    {% if sources %}
                      <table class="table align-items-center table-flush">
                        <thead class="thead-light"><tr><th scope="col">Source Name</th><th scope="col">Created At</th><th scope="col">Action</th></tr></thead>
                        <tbody>{% for source in sources %}<tr><td> {{source.source}} </td><td> {{source.created_at}} </td><td><a href="{% url 'edit_income_source' source.id %}" class="btn btn-warning btn-sm">Edit</a><a href="{% url 'delete_income_source' source.id %}" class="btn btn-danger btn-sm">Delete</a> </td></tr>{% endfor %}</tbody>
                      </table>
                    {% else %}
                      <div class="text-center text-danger mt-4">No Sources. Please Add Sources</div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
  </div>
{% endblock %}