{% extends "base.html" %}
{% block title_main %}Edit Expense{% endblock %}
{% block body_main %}
    {% include "partials/_sidebar_main.html" %}
    <div class="main-content bg-primary" id="panel">
    {% include "partials/_navbar_main.html" %}
    <div class="header bg-primary pb-6"><div class="mr-5 ml-5"><div class="mr-5 ml-5">{% include "partials/_messages.html" %}</div></div><div class="container-fluid"><div class="header-body"><div class="row align-items-center py-4"><div class="col-lg-6 col-7"><nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4"><ol class="breadcrumb breadcrumb-links breadcrumb-dark"><li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i class="fas fa-home"></i></a></li><li class="breadcrumb-item"><a href="{% url 'expense' %}">Expense</a></li><li class="breadcrumb-item active" aria-current="page">Edit Expense</li></ol></nav></div><div class="col-lg-6 col-5 text-right"><a href="{% url 'delete_expense' expense.id %}" class="btn btn btn-warning">Delete Expense</a></div></div></div></div></div>
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col mr-5 ml-5">
          <div class="card">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">  
                <div class="col">
                  <h5 class="h3 mb-0 text-center">Edit Expense</h5>
                  <form action="{% url 'edit_expense' expense.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group"><label for="">Amount</label><input class="form-control form-control-sm" type = "number" name="amount" value = "{{ values.amount }}" ></div>
                    <div class="form-group"><label for="">Description</label><input class="form-control form-control-sm" type = "text" name="description" value = "{{ values.description }}"></div>
                    <div class="form-group">
                        <label for="">Category</label>
                        <select class="form-control form-control-sm" name="category">
                          <option selected name="category" value="{{values.category.name}}">{{values.category.name}}</option>
                            {% for category in categories %}
                                <option name = "category" value="{{category.name}}">{{category.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group"><label for="">Date of Expense</label><input class="form-control form-control-sm" value="{{values.date |date:'Y-m-d' }}" type = "date" name="expense_date"></div>
                    <div class="text-center"><button type="submit" class="btn btn-primary">Update Expense</button></div>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}