{% extends "base.html" %}
{% load static %}
{% block title_main %}Expense Summary{% endblock %}
{% block body_main %}
    {% include "partials/_sidebar_main.html" %}
  <div class="main-content" id="panel">
    {% include "partials/_navbar_main.html" %}
    <div class="header bg-primary pb-6">
      <div class="mr-5 ml-5"><div class="mr-5 ml-5">{% include "partials/_messages.html" %}</div></div>
    <div class="container-fluid"><div class="header-body"><div class="row align-items-center py-4"><div class="col-lg-6 col-7"><nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4"><ol class="breadcrumb breadcrumb-links breadcrumb-dark"><li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i class="fas fa-home"></i></a></li><li class="breadcrumb-item"><a href="{% url 'expense' %}">Expense</a></li><li class="breadcrumb-item active" aria-current="page">Summary</li></ol></nav></div><div class="col-lg-6 col-5 text-right"><button id="today" class="btn btn btn-neutral">Today</button><button id="week" class="btn btn btn-neutral">This Week</button><button id="month" class="btn btn btn-neutral">This Month</button><button id="year" class="btn btn btn-neutral">This Year</button></div></div></div></div></div>
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card bg-default">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">  
                <div class="col">
                  <div class="chart-container" style="position: relative; height:500px; width: 1000px;">
                    <canvas id="myChart" class="chart-canvas chartjs-render-monitor" width="1000" height="500"></canvas>
                  </div>
                  <div class="text-center mt-5"><button id="dough" class="btn btn btn-neutral">Dough Nut</button><button id="pie" class="btn btn btn-neutral">Pie</button><button id="bar" class="btn btn btn-neutral">Bar</button><button id="polarArea" class="btn btn btn-neutral">Polar Area</button></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'js/expense_summary.js' %}"></script>
{% endblock %}
