{% extends "base.html" %}
{% load static %}
{% block body_main %}
    <script>document.body.classList.add('bg-default')</script>{% include "partials/_navbar_index.html" %}<div class="main-content"><div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9"><div class="separator separator-bottom separator-skew zindex-100"><svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg"><polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon></svg></div></div>{% block body_main_content %}{% endblock %}</div>
{% endblock %}