{% extends "auth_app/base.html" %}
{% load static %}
{% block title_main %}Email Sent{% endblock %}
{% block body_main_content %}
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary border-0 mb-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4"><h2>Password Reset Email Sent</h2></div>
                        <p>
                            We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                            If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
                        </p>
                    </div>
                    <div class="row mt-3"><div class="col-6"><a href="{% url 'login' %}" class="text-light"><small>Login</small></a></div><div class="col-6 text-right"><a href="{% url 'register' %}" class="text-light"><small>Create new account</small></a></div></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}