{% extends "auth_app/base.html" %}
{% load static %}
{% block title_main %}Password Reset Done{% endblock %}
{% block body_main_content %}
    <div class="container mt--8 pb-5"><div class="row justify-content-center"><div class="col-lg-5 col-md-7"><div class="card bg-secondary border-0 mb-0"><div class="card-body px-lg-5 py-lg-5"><div class="text-center text-muted mb-4"><h2>Password Reset Done</h2></div><p>Password Reset Successfully. You can go ahead and  <a href="{% url 'login' %}" class="text-dark">Login</a> in your account</p></div></div></div></div></div>
{% endblock %}