{% extends "auth_app/base.html" %}
{% load static %}
{% block title_main %}Set New Password{% endblock %}
{% block body_main_content %}
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary border-0 mb-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        {% if form %}
                            <div class="text-center text-muted mb-4"><small>Enter password twice.</small></div>
                                <form method="POST">
                                    {% csrf_token %}
                                    {% for field in form.visible_fields %}
                                        <div class="form-group">
                                            <div class="input-group input-group-merge input-group-alternative"><div class="input-group-prepend"><span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span></div><input class="form-control" placeholder="Enter Password" type="password" name="{{field.name}}" required="" id="{{ field.id }}"></div>
                                        </div>
                                        {% if field.errors %}<ul>{% for error in field.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                                    {% endfor %}
                                    <div class="text-center"><button type="submit" class="btn btn-primary my-4">Reset Passowrd</button></div>
                                </form>
                            </div>
                        {% else %}
                            <div class="text-center text-muted mb-4"><small>Already Used This Link</small></div>
                            <p>You Have ALready Used This Link. Please Request a New <a href="{% url 'password_reset' %}" class="text-dark">Link</a>.</p>
                        {% endif %}
                    </div>
                    <div class="row mt-3"><div class="col-6"><a href="{% url 'login' %}" class="text-light"><small>Login</small></a></div><div class="col-6 text-right"><a href="{% url 'register' %}" class="text-light"><small>Create new account</small></a></div></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}